<!DOCTYPE html>
<html>
<head>
  <title>Bookmark App</title>
</head>
<body>
<ul>
  <li><a href="/bookmarks">View all bookmarks</a></li>
  <li><a href='/bookmarks/new'>Add A New Bookmark</a></li>
</ul>

<%= yield %>

</body>
</html>