<!DOCTYPE html>
<html>
<head>
  <meta charset='ytf-8'>
    <title>Bookmark App</title>
  <link rel='stylesheet' href='/style.css'/>
</head>
<body>

<nav>
  <ul>
    <li><a href="/bookmarks">View all bookmarks</a></li>
    <li><a href='/bookmarks/new'>Add A New Bookmark</a></li>
    <form action='/bookmarks/search' method='get'>
    <label for='search'>Search:</label>
    <input type='text' name='search'>
  </ul>
</nav>

<section id='yield'>
<%= yield %>
</section>

</body>
</html>