<!DOCTYPE html>
<html>
<head>
  <meta charset='ytf-8'>
    <title>Bookmark App</title>
  <link rel='stylesheet' href='/style.css'/>
</head>
<body>

<nav>
  <ul>
    <li><a href="/bookmarks">View all bookmarks</a></li>
    <li><a href='/bookmarks/new'>Add A New Bookmark</a></li>
  </ul>
</nav>

<section id='yield'>
<%= yield %>
</section>

</body>
</html>