<!DOCTYPE html>
<html>
<head>
  <meta charset='ytf-8'>
    <title>Bookmark App</title>
  <link rel='stylesheet' href='/style.css'/>
</head>
<body>


<nav>
  <ul>
    <li><a href="/bookmarks">View all bookmarks</a></li>
    <li><a href='/bookmarks/new'>Add A New Bookmark</a></li>
    <form action='/bookmarks/search' method='get'>
      <label for='name'>Search:</label>
      <input type='text' name='name'>
    </form>
  </ul>
</nav>

<div id="main">
<section id='yield'>
<%= yield %>
</section>
</div>
</body>
</html>