<form action="/bookmarks" method='post'>
  
  <label for='name'>URL:</label>
  <br>
  <input type='text' name='name'>

  <br>
  <br>

  <label for='genre'>Genre:</label>
  <br>
  <input type='text' name='genre'>

  <br>
  <br>

  <label for='info'>Description info:</label>
  <br>
  <textarea name='info'></textarea>

  <br>
  <br>
  
  <button>Add Bookmark</button>

</form>